{% extends 'base.html'%}

{% block conteudo%}

<center>
<h2>Sobre o projeto</h2>
</center>

<p>O DIGIF é  um aplicativo pensado nas pessoas que precisam ter um maior controle sobre suas despesas. Ao entrar no aplicativo você poderá  adicionar contas que simulem suas contas reais, sejam elas contas bancárias ou até mesmo a carteira que você tem em mãos, a ideia é que ao registrar  suas despesas, ou adicionar suas receitas durante o mês, o aplicativo mostre exatamente o valor que terá em sua conta e te dará uma visão geral do mês, mostrando a quantidade de despesas e gastos que você  teve, além de dividir em gráficos categorizados cada tipo de despesa ou receita.</p>

<center>
    <h2>Motivações</h2>
</center>
<p>Sabe aquela viagem que vc queria fazer, ou aquele item que vc queria tanto comprar? Com um controle maior dos seus gastos e um bom planejamento você poderá marcar aquele "check" em um dos itens da sua lista de desejos, afinal esse é um dos principais motivos para a criação deste aplicativo, te dar uma visão maior sobre seus gastos e te ajudar a economizar, para que você consiga realizar seus projetos pessoais.</p>
{% endblock%}